/* Game css */

@import url("desktop.css");
@import url("mobile.css");

@import url("buttons.css");
@import url("main-menu.css");
@import url("input.css");
@import url("alerts-like.css");
@import url("chat.css");
@import url("tablist.css");
@import url("other.css");

:root {
  --chat-scrollbar-width: 10px;
  --chat-scrollbar-color: rgba(100, 100, 100, 0.7);
  --chat-scrollbar-bg-color: rgba(30, 30, 30, 0.3);
  --chat-input-text-color: rgba(255, 255, 255, 0.9);
  --chat-input-bg-color: rgba(0, 0, 0, 0.3);

  --chat-bg-color: rgba(30, 30, 30, 0.8);
}

#game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game-canvas {
position: absolute;
    display: block;
    top: 0;
   left: 0;
}




#player-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 500px;
    max-height: 150px;
    overflow: hidden;
    transition: opacity 0.2s ease;
    padding: 5px;
}

.like-alert-message-container {
    padding: 10%;
      display: flex;
  flex-direction: column; /* Если элементы должны быть в колонке */
  align-items: center; /* Выравнивание по горизонтали */
}

#death-screen, #alert-screen, #error-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.screen-content {
    display: flex;
}

#death-screen {
    background-color: rgba(150, 0, 0, 0.3);
}

#error-screen {
    background-color: rgba(50, 0, 0, 0.5);
}

#alert-screen {
    background-color: rgba(0, 0, 0, 0.3);
}

.title {
    color: var(--highlight-text-color);
    margin: 15px;
    font-size: 180%;
}

.info-message {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#death-screen .title {
    color: var(--highlight-text-color);
}

#death-reason {
    font-size: 120%;
}

#alert-screen .title {
    color: var(--text-color);
}

.player-stats {
    justify: center;
}

.table-player-stats {
    width: 90%;
    max-width: 500px;
    border-collapse: collapse;
    border-radius: var(--border-radius);
    background-color: var(--pad-bg-color);
    /*color: #e0e0e0;*/
    padding: 50px;
    margin: 0 auto;
    display: table;
}

.table-player-stats thead {
    display: table-header-group;
    width: 100%;
}

.table-player-stats td, .table-player-stats thead th{
    padding: 6px 8px;
    border-bottom: 1px solid var(--pad-border-color);
    vertical-align: middle;
}

.table-player-stats tr:last-child td {
    border-bottom: none;
}

.table-player-stats tr:hover td {
}

#your-score {
    color: var(--text-color);
    font-size: 12px;
}
#your-score-value {
    font-size: 1.8em;
}

.instruction {
    margin: 30px;
    color: var(--text-color);
}




#debug-info {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color:var(--pad-bg-color);
    padding: 10px;
    display: none;
}

.controls-info {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--pad-text-color);

    padding: 5px 10px;
    font-size: 60%
}

.toggle-fullscreen {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 0;
    z-index: 1000;
}

#fullscreen-button, #fullscreen-button *{
    width: 40px;
    height: 40px;
    border: 1px solid var(--button-border-color);
    border-radius: var(--border-radius);
    background: rgba(90, 90, 90, 1);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

#fullscreen-button:hover {
    background: rgba(0, 0, 0, 0.5);
}


#about {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--pad-text-color);
    background-color: var(--pad-bg-color);
    padding: 5px 10px;
}


